# Unity standard gitignore
[Library]/
[Temp]/
[Obj]/
[Build]/
[Builds]/
[Logs]/
[UserSettings]/
MemoryCaptures/
Recordings/
[assets/assetstoretools]/
[assets/assetstoretools.meta]/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.class
*.pdb
*.mdb
*.opendb
*.db
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
CrashReport*
.DS_Store
Thumbs.db
